<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Insert Webpage Objects</h1>
        <form action="" method="POST">
            {% csrf_token %}
        <label for="topic">Topic_Name</label>
        <select name="topic" id="topic">
            {% for a in topic %}
            <option value="{{a}}">{{a.topic_name}}</option>
            {% endfor %}
        </select>
        <br><br>



        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <br><br>

        <label for="url">URL</label>
        <input type="url" name="url" id="url">
        <br><br>
        
        <label for="email">EMAIL</label>
        <input type="email" name="email" id="email">
        <br><br>
        <input type="submit" value="Insert_webpage">




        </form>







    </center>
</body>
</html>